@tailwind components;

@layer components {
  .my-flexbox2 {
    @apply mt-8 flex-col justify-center space-y-4 bg-yellow-500 md:flex md:flex-row md:gap-5;
  }
}

.custom-flexbox {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .custom-flexbox {
    flex-direction: column;
  }
}
