@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-div {
  --periwinkle: rgb(84, 75, 253);
  --periwinkleDark: rgba(84, 75, 253, 0.2);
  background-image: radial-gradient(
    circle at center top,
    var(--periwinkle) 0%,
    var(--periwinkleDark) 30%
  );
}

.gradient-button {
  --periwinkle: rgb(84, 75, 253);
  --periwinkleDark: rgba(84, 75, 253, 0);
  background-image: linear-gradient(
      0deg,
      var(--periwinkle) 0%,
      var(--periwinkle) 20%,
      var(--periwinkleDark) 100%
    ),
    linear-gradient(
      90deg,
      var(--periwinkleDark) 0%,
      var(--periwinkle) 50%,
      var(--periwinkleDark) 100%
    );
}

.gradient-button:hover {
  background: var(--periwinkle);
}

@layer base {
  :root {
    --gradient-angle: 89.93deg;
    --gradient-start-color: rgba(0, 0, 0, 0.7) 3.02%;
    --gradient-middle-color: rgba(0, 0, 0, 0.56) 55.25%;
    --gradient-end-color: rgba(0, 0, 0, 0) 98.73%;
  }
  body {
    /* background-color: #0c0c0c; */
    background-color: #0c0c0c;
    color: white;
  }

  html {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 400;
  }

  h1 {
    font-size: 4.209rem;
  }
  h2 {
    font-size: 3.157rem;
  }
  h3 {
    font-size: 2.369rem;
  }
  h4 {
    font-size: 1.77rem;
  }
  h5 {
    font-size: 1.333rem;
  }

  /* Fonts */
  @font-face {
    font-weight: 400;
    font-family: 'Bitter'; /* serif */
    font-size: 12px;
    line-height: 32px;
    /*src: url('../../public/font/Bitter-VariableFont_wght.ttf');*/
    src: url('../../public/font/Bitter-VariableFont_wght.ttf');
  }
  @font-face {
    font-family: 'Raleway'; /* sans-serif */
    font-size: 12px;
    line-height: 32px;
    src: url('../../public/font/Raleway-VariableFont_wght.ttf');
  }
  @font-face {
    font-family: 'Poppins'; /* sans-serif */
    font-size: 12px;
    line-height: 32px;
    src: url('../../public/font/Poppins-Regular.ttf');
  }

  /* Banners & Linear gradients */
  .banner {
    /*position: absolute;
    z-index: -10;
    left: 0;
    right: 0;*/
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 40vh;
  } /*
  .pricing-page-banner {
    background-image: linear-gradient(
        var(--gradient-angle),
        var(--gradient-start-color),
        var(--gradient-middle-color),
        var(--gradient-end-color)
      ),
      url("../../public/assets/company-pages/dollar-bill.jpg");
  }
  .platform-str-page-banner {
    background-image: linear-gradient(
        var(--gradient-angle),
        var(--gradient-start-color),
        var(--gradient-middle-color),
        var(--gradient-end-color)
      ),
      url("../../public/assets/company-pages/building.png");
  }
  .platform-advantages-banner {
    background-image: linear-gradient(
        var(--gradient-angle),
        var(--gradient-start-color),
        var(--gradient-middle-color),
        var(--gradient-end-color)
      ),
      url("../../public/assets/company-pages/building-balcony.png");
  }
  .company-about-us-banner {
    background-image: linear-gradient(
        var(--gradient-angle),
        var(--gradient-start-color),
        var(--gradient-middle-color),
        var(--gradient-end-color)
      ),
      url("../../public/assets/company-pages/contact-us.png");
  }
  .company-contact-us-banner {
    background-image: linear-gradient(
        var(--gradient-angle),
        var(--gradient-start-color),
        var(--gradient-middle-color),
        var(--gradient-end-color)
      ),
      url("../../public/assets/company-pages/about-us.png");
  }*/
  /* Stop Chrome's autofill feature from overriding input background colors.
 * For example, the first namea and last name inputs backgrounds will change 
 * from black to white  
 */
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px transparent inset !important;
    -webkit-text-fill-color: white !important;
    transition: background-color 5000s ease-in-out 0s;
  }
}

@media print {
  .no-print {
    display: none;
  }

  /* Any other styles you want to apply for printing only 
  body {
    font-size: 14pt;
    color: black;
  } */
}

.ant-menu-light.ant-menu-root.ant-menu-inline {
  /* background-color: orange; */
  background-color: #0c0c0c;
  /* border-bottom: 1px solid #636363; */
  /* border-bottom: 1px solid white; */
  color: #ffff;
  margin: 0.5rem 0;

  max-height: 30vh;
  overflow-x: auto;
}

/* antd submenu bg color */
.ant-menu-light.ant-menu-root.ant-menu-inline {
  /* background-color: bisque; */
}
/*  */

/* antd submenu colors on selected */
.ant-menu-light .ant-menu-item-selected {
  color: #ffff;
  border-radius: 0;
  background-color: #0c0c0c;
}
/*  */

/* removing bue colorof antd submenu title */
.ant-menu-light .ant-menu-submenu-selected > .ant-menu-submenu-title {
  color: unset;
}
/*  */

/* for hovering on mobile menu sun antd title menu */

:where(.css-dev-only-do-not-override-ph9edi).ant-menu-light
  .ant-menu-item:hover:not(.ant-menu-item-selected):not(
    .ant-menu-submenu-selected
  ),
:where(.css-dev-only-do-not-override-ph9edi).ant-menu-light
  .ant-menu-submenu-title:hover:not(.ant-menu-item-selected):not(
    .ant-menu-submenu-selected
  ) {
  /* color: rgba(0, 0, 0, 0.88); */
  color: white;
}

/*  */

/* removing active color on antd submenu title */

:where(.css-dev-only-do-not-override-ph9edi).ant-menu-light:not(
    .ant-menu-horizontal
  )
  .ant-menu-submenu-title:active {
  background-color: #0c0c0c;
}
/*  */

/* non submenu menus styles */
:where(.css-dev-only-do-not-override-ph9edi).ant-menu-light {
  background-color: #0c0c0c;
  color: white;
}

/*  */

/* antd submenu container style */

:where(.css-dev-only-do-not-override-ph9edi).ant-menu-light.ant-menu-inline
  .ant-menu-sub.ant-menu-inline {
  /* color: red; */
  margin-left: 20px;
}
/*  */

/* menu open and close with animation */

.menu-open-close {
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}
.menu-open-close:hover {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

/* container */
.container_class {
  max-width: 1110px;
  margin: 0 auto;
  padding: 2px 6px;
}
/*  */

/* truncate text */
.truncate-description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5; /* Number of lines to show */
  overflow: hidden;
}
