@tailwind utilities;
@reference "./tailwind.css";

@layer components {
  .button-primary {
    @apply uppercase cursor-pointer bg-[radial-gradient(ellipse_at_bottom,#fff,#676767)] text-black rounded-md py-2 px-5;
  }
  .button-secondary {
    @apply uppercase cursor-pointer rounded-md py-2 px-5 border-[1px] border-white/30;
  }
  ,
  .button-gradient-hover {
    @apply bg-[radial-gradient(ellipse_at_bottom,_var(--tw-gradient-stops))] from-periwinkleDark to-periwinkle;
  }
  .cyan-gradient {
    @apply bg-[radial-gradient(ellipse_at_bottom,_var(--tw-gradient-stops))] from-cyan to-darkBlue hover:scale-105;
  }
  .cyan-gradient-hover {
    @apply bg-[radial-gradient(ellipse_at_bottom,_var(--tw-gradient-stops))] from-darkBlue to-cyan hover:scale-105;
  }

  .contact-us-gradient {
    @apply bg-[radial-gradient(ellipse_at_top_left,_var(--tw-gradient-stops))] from-[rgb(16,15,23)] via-gray-900 to-periwinkleDark;
  }
  .title-gradient {
    background-image: linear-gradient(to right, #ffffff, #c6c6c6, #8c8c8c);
    @apply bg-clip-text text-transparent;
  }
  .subTitleText {
    color: #bdbdc0;
  }
  .borderColor {
    color: rgb(36, 37, 38);
  }

  .contact-us-input {
    @apply z-50 p-2 rounded-md focus:outline-none bg-gradient-to-r from-[rgb(25,26,27)] to-[rgb(23,24,25)];
  }
}

.gradient-div {
  background-image: radial-gradient(
    circle at center top,
    var(--periwinkle) 0%,
    var(--periwinkleDark) 30%
  );
}

@keyframes rollIn {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes rollOut {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-100%);
    opacity: 0;
  }
}

.rollingText {
  width: 100%;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.rollIn {
  animation: rollIn 0.3s ease-in-out forwards;
}

.rollOut {
  animation: rollOut 0.3s ease-in-out forwards;
}

.text-gradient {
  background-clip: text;
  -webkit-background-clip: text; /* For Safari */
  color: transparent;
  background-image: linear-gradient(
    to right,
    var(--cyan),
    var(--periwinkle),
    var(--cyan)
  );
  z-index: 50;
}

@layer base {
  :root {
    /* Gradient */
    --gradient-angle: 89.93deg;
    --gradient-start-color: rgba(0, 0, 0, 0.7) 3.02%;
    --gradient-middle-color: rgba(0, 0, 0, 0.56) 55.25%;
    --gradient-end-color: rgba(0, 0, 0, 0) 98.73%;
    /* Colors */
    --periwinkle: rgb(84, 75, 253);
    --periwinkleDark: rgba(84, 75, 253, 0.2);
    --cyan: rgb(0, 184, 233);
    --darkBlue: rgb(200, 0, 201);
  }

  body {
    /* background-color: #0c0c0c; */
    background-color: #0c0c0c;
    color: #a9a9ac;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 400;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #fff;
  }

  h1 {
    font-size: 4.209rem;
  }
  h2 {
    font-size: 3.157rem;
  }
  h3 {
    font-size: 2.369rem;
  }
  h4 {
    font-size: 1.77rem;
  }
  h5 {
    font-size: 1.333rem;
  }

  @media (max-width: 640px) {
    html {
      font-size: 16px;
      padding: 0 0px;
    }
    h1 {
      font-size: 3.8rem;
    }
    h2 {
      font-size: 2.8rem;
    }
    h3 {
      font-size: 2.1rem;
    }
    h4 {
      font-size: 1.57rem;
    }
    h5 {
      font-size: 1.2rem;
    }
    h6 {
      font-size: 1.05rem;
      font-family: serif;
    }
  }

  /* Fonts */
  @font-face {
    font-family: "Bitter";
    src: url("/font/Bitter-VariableFont_wght.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap; /* Optional, improves loading behavior */
  }

  @font-face {
    font-family: "Raleway";
    src: url("/font/Raleway-VariableFont_wght.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Poppins"; /* sans-serif */
    src: url("/font/Poppins-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  /* Banners & Linear gradients */
  .banner {
    /*position: absolute;
    z-index: -10;
    left: 0;
    right: 0;*/
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 40vh;
  } /*
  .pricing-page-banner {
    background-image: linear-gradient(
        var(--gradient-angle),
        var(--gradient-start-color),
        var(--gradient-middle-color),
        var(--gradient-end-color)
      ),
      url("../../public/assets/company-pages/dollar-bill.jpg");
  }
  .platform-str-page-banner {
    background-image: linear-gradient(
        var(--gradient-angle),
        var(--gradient-start-color),
        var(--gradient-middle-color),
        var(--gradient-end-color)
      ),
      url("../../public/assets/company-pages/building.png");
  }
  .platform-advantages-banner {
    background-image: linear-gradient(
        var(--gradient-angle),
        var(--gradient-start-color),
        var(--gradient-middle-color),
        var(--gradient-end-color)
      ),
      url("../../public/assets/company-pages/building-balcony.png");
  }
  .company-about-us-banner {
    background-image: linear-gradient(
        var(--gradient-angle),
        var(--gradient-start-color),
        var(--gradient-middle-color),
        var(--gradient-end-color)
      ),
      url("../../public/assets/company-pages/contact-us.png");
  }
  .company-contact-us-banner {
    background-image: linear-gradient(
        var(--gradient-angle),
        var(--gradient-start-color),
        var(--gradient-middle-color),
        var(--gradient-end-color)
      ),
      url("../../public/assets/company-pages/about-us.png");
  }*/
  /* Stop Chrome's autofill feature from overriding input background colors.
 * For example, the first namea and last name inputs backgrounds will change 
 * from black to white  
 */
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px transparent inset !important;
    -webkit-text-fill-color: white !important;
    transition: background-color 5000s ease-in-out 0s;
  }
}

@media print {
  .no-print {
    display: none;
  }
}

/* menu open and close with animation */

.menu-open-close {
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}
.menu-open-close:hover {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

/* container */
.container_class {
  max-width: 1110px;
  margin: 0 auto;
  padding: 2px 6px;
}
/*  */

/* truncate text */
.truncate-description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5; /* Number of lines to show */
  overflow: hidden;
}

/* Add this within your global CSS file */
@keyframes shooting-star {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }
  100% {
    transform: translate(300px, 600px); /* These values will be dynamic */
    opacity: 0;
  }
}

/* Use this to ensure auto suggesstions appear as black*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: #000 !important; /* Set the text color to black */
  -webkit-box-shadow: 0 0 0px 1000px #fff inset; /* Optional: Change the background color */
  transition: background-color 5000s ease-in-out 0s; /* Prevent background color change */
}
