@import "tailwindcss";
@tailwind utilities;
@theme {
  --color-background: #08090a;
  --color-secondaryBg: rgb(19, 20, 21);
  --color-cardBg: #141516;
  --color-cardText: #a9a9ac;
  --color-formBackground: #08090a;
  --color-borderColor: rgb(36, 37, 38);
  --color-border: #202221;
  --color-cyan: #00b8e9;
  --color-periwinkle: #544bfd;
  --color-darkBlue: #2325c9;
  --color-periwinkleDark: rgb(41, 38, 122);
  --color-border: rgba(107, 114, 128, 0.5);
  --color-chart: #2b2e32;
  --color-secondary: #1b1918;
  --color-secondary2: #121212;
  --color-alternate: #18181b;
  --color-lightGrey: #252121;
  --color-darkGrey: #292b2c;
  --color-linkText: #3b82f6;
  --color-greyText: #71717a;
  --color-redText: #fe87a1;
  --color-akilaPink: rgb(110, 70, 128);
  --color-blue: rgb(21, 18, 56);
}


@layer utilities {
   {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  @media screen and (max-width: 965px) {
    .testimonial-container {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
