.DS_Store
/node_modules/
.env
exports/

# React Router
/.react-router/
/build/

# prisma
app/utils/server/generated/

/.cache
/build
.env
public/*
server/*
build/*
logs/

.DS_Store
**/.DS_Store

*.zip
*.csv
